
@model Cliente

<form method="post">
    <fieldset>
        <legend>Dados do Endereço</legend>
        <div asp-validation-summary="ModelOnly"
             class="text-primary"></div>
        <div class="form-group" id="Cep">
            <label asp-for="Endereco.code"></label>
            <input type="text" asp-for="Endereco.code"
                   class="form-control" />
        </div>
        <input type="submit" class="btn btn-info"
               value="Buscar" asp-action="BuscarCep"
               asp-controller="Cliente" />

        <div class="form-group" id="Logradouro">
            <label asp-for="Endereco.address"></label>
            <input type="text" asp-for="Endereco.address"
                   class="form-control" readonly="" />
        </div>
        <div class="form-group" id="Bairro">
            <label asp-for="Endereco.district"></label>
            <input type="text" asp-for="Endereco.district"
                   class="form-control" readonly="" />
        </div>
        <div class="form-group" id="Localidade">
            <label asp-for="Endereco.city"></label>
            <input type="text" asp-for="Endereco.city"
                   class="form-control" readonly="" />
        </div>
        <div class="form-group" id="Uf">
            <label asp-for="Endereco.state"></label>
            <input type="text" asp-for="Endereco.state"
                   class="form-control" readonly="" />
        </div>
    </fieldset>
    <fieldset>
        <legend>Dados Pessoais</legend>
        <div class="form-group" id="Nome">
            <label asp-for="Nome"></label>
            <input type="text" asp-for="Nome"
                   class="form-control" />
        </div>
        <div class="form-group" id="CPF">
            <label asp-for="CPF"></label>
            <input type="text" asp-for="CPF"
                   class="form-control" />
        </div>
        <div class="form-group" id="Email">
            <label asp-for="Email"></label>
            <input type="text" asp-for="Email"
                   class="form-control" />
        </div>
        <div class="form-group" id="Senha">
            <label asp-for="Senha"></label>
            <input type="text" asp-for="Senha"
                   class="form-control" />
        </div>
        <div class="form-group" id="ConfirmacaoSenha">
            <label asp-for="ConfirmacaoSenha"></label>
            <input type="text" asp-for="ConfirmacaoSenha"
                   class="form-control" />
        </div>
        <input type="submit" class="btn btn-success"
               value="Cadastrar" asp-action="Cadastrar"
               asp-controller="Cliente" />
    </fieldset>
</form>